# Run the server on PORT
PORT=""
# Database url, You can check the format here: 
# https://www.prisma.io/docs/orm/reference/connection-urls
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# JWT secret, you can gen jwt secret by `openssl rand -hex 64`
TOKEN_SECRET=""

# Google API settings
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=